# macOS system files:
.DS_Store


# Python bytecode & environments:
__pycache__/
*.pyc

#Virtual environments:
.venv/
venv/

#IDEs:
.idea/
.vscode/

#Environments:
.env
.env.*

ProjectPlanning.md
Project_Progress.md
fairshare_plan.md